[submodule "percona-xtradb-cluster-galera"]
	path = percona-xtradb-cluster-galera
	url = https://github.com/percona/galera
	branch = 4.x-8.0
[submodule "wsrep-lib"]
	path = wsrep-lib
	url = https://github.com/percona/wsrep-lib.git
  branch = percona-4.x-8.0
[submodule "extra/coredumper"]
	path = extra/coredumper
	url = https://github.com/Percona-Lab/coredumper.git
[submodule "storage/rocksdb/rocksdb_plugins/zenfs"]
	path = storage/rocksdb/rocksdb_plugins/zenfs
	url = https://github.com/westerndigitalcorporation/zenfs.git
