!include ../galera_2nodes.cnf

[mysqld]
wsrep_sst_method=xtrabackup-v2
wsrep_debug=1

[sst]
encrypt=3
tkey=@ENV.MYSQL_TEST_DIR/std_data/galera-key.pem
tcert=@ENV.MYSQL_TEST_DIR/std_data/galera-cert.pem
ssl-dhparams=@ENV.MYSQL_TEST_DIR/std_data/dhparams.pem

[mysqld.1]
wsrep_provider_options='base_port=@mysqld.1.#galera_port;gcache.size=1;pc.ignore_sb=true'
early_plugin_load=@ENV.KEYRING_PLUGIN
keyring_file_data=@ENV.MYSQL_TMP_DIR/mysqld.1/keyring.1
server_id=1

[mysqld.2]
wsrep_provider_options='base_port=@mysqld.2.#galera_port;gcache.size=1;pc.ignore_sb=true'
early_plugin_load=@ENV.KEYRING_PLUGIN
keyring_file_data=@ENV.MYSQL_TMP_DIR/mysqld.2/keyring.2
server_id=2
