!include ../galera_2nodes.cnf

[mysqld]
wsrep_sst_method=xtrabackup-v2
wsrep_debug=1

#
# All nodes must use the same key,cert,and ca files
[SST]
encrypt=4
ssl-key=@ENV.MYSQL_TEST_DIR/std_data/server-key.pem
ssl-cert=@ENV.MYSQL_TEST_DIR/std_data/server-cert.pem
ssl-ca=@ENV.MYSQL_TEST_DIR/std_data/cacert.pem
