!include ../galera_2nodes.cnf

[mysqld]
wsrep_sst_method=clone
wsrep_sst_allowed_methods=clone
wsrep_debug=1

[mysqld.1]
wsrep_provider_options='base_port=@mysqld.1.#galera_port;gcache.size=1;pc.ignore_sb=true'

[mysqld.2]
wsrep_provider_options='base_port=@mysqld.2.#galera_port;gcache.size=1;pc.ignore_sb=true'

[sst]
netcat_port=4442
wsrep-debug=true
clone_instance_port=4444