!include ../galera_4nodes.cnf

[mysqld.2]
wsrep_node_address=127.0.0.1
wsrep_node_name=

[mysqld.3]
wsrep_node_address=localhost
wsrep_node_name=my_host_3

[mysqld.4]
# ist can't operate with wsrep_node_address=lo
wsrep_node_address=localhost
