!include ../galera_3nodes_as_slave.cnf

[mysqld]
# Ignore native replications filters for galera cluster events
wsrep_mode = IGNORE_NATIVE_REPLICATION_FILTER_RULES

[mysqld.2]
replicate-ignore-db=master_ignored_db