!include ../galera_2nodes.cnf

[mysqld]
wsrep_sst_method=xtrabackup-v2
pxc-encrypt-cluster-traffic=ON
#
default_table_encryption=ON
#
binlog_encryption=ON
#
innodb_parallel_dblwr_encrypt=ON
#
innodb_temp_tablespace_encrypt=ON
#
innodb_redo_log_encrypt=ON
innodb_log_file_size=100M
#
innodb_undo_log_encrypt=ON

[sst]
ssl-dhparams=@ENV.MYSQL_TEST_DIR/std_data/dhparams.pem

[mysqld.1]
wsrep_provider_options='base_port=@mysqld.1.#galera_port;pc.ignore_sb=true'
early_plugin_load=@ENV.KEYRING_PLUGIN
keyring_file_data=@ENV.MYSQL_TMP_DIR/mysqld.1/keyring.1
server_id=1

[mysqld.2]
wsrep_provider_options='base_port=@mysqld.2.#galera_port;pc.ignore_sb=true'
early_plugin_load=@ENV.KEYRING_PLUGIN
keyring_file_data=@ENV.MYSQL_TMP_DIR/mysqld.2/keyring.2
server_id=2
