# Systemd service file for Percona XtraDB Cluster


# This service file allows for instance specifier %i
# to pass an Environment file
# Example: systemctl start mysql@bootstrap.service
# will check for EnvironmentFile named /etc/sysconfig/mysql.bootstrap

# The environment file can  have any key=value 
# variables separated by newlines.

# But, EXTRA_ARGS must be there - empty/set
# EXTRA_ARGS=" --wsrep-new-cluster" for bootstrapping
# /etc/sysconfig/mysql.bootstrap is provided for convenience 
# and as a template.


# Note, this is NOT a replacement for my.cnf
# This file is just to pass environment variables and/or 
# EXTRA_ARGS to mysqld_safe.
#
# For bootstrapping, you may not want to enable mysql@bootstrap 
# but start it directly since you don't want 
# a bootstrapped mysqld coming up on reboot.
#
# But, if you want to pass CUSTOM flags, create a file called 
# /etc/sysconfig/mysql.custom and then 
# add EXTRA_ARGS=" --wsrep-debug " etc. to it along 
# with any environment variables you may want to pass.
# After that you can either enable it or start it as 
# systemctl start mysql@custom.service.


[Unit]
Description=Percona XtraDB Cluster with config /etc/sysconfig/mysql.%i
After=network.target syslog.target

[Install]
WantedBy=multi-user.target
Alias=mysql.service

[Service]
# Needed to create system tables etc.
ExecStartPre=/usr/bin/mysql-systemd start-pre

EnvironmentFile=/etc/sysconfig/mysql.%i
# Start main service
ExecStart=/usr/bin/mysqld_safe --basedir=/usr ${EXTRA_ARGS}

# Don't signal startup success before a ping works
ExecStartPost=/usr/bin/mysql-systemd start-post $MAINPID

ExecStop=/usr/bin/mysql-systemd stop

ExecStopPost=/usr/bin/mysql-systemd stop-post

ExecReload=/usr/bin/mysql-systemd reload

# Timeout is handled elsewhere
# service-startup-timeout in my.cnf 
# Default is 900 seconds
TimeoutStartSec=0

# Maximum time to stop
TimeoutStopSec=900


# Unsafe for PXC
# mysqld_safe handles this too.
Restart=no

PrivateTmp=false


