# Systemd service file for Percona XtraDB Cluster

# This service file is to start PXC just with mysqld_safe
# Usually in the non-bootstrapping case.

# For bootstrapping or passing environment file
# Refer to mysql@.service

[Unit]
Description=Percona XtraDB Cluster
After=network.target syslog.target

[Install]
WantedBy=multi-user.target
Alias=mysql.service

[Service]
User=mysql
Group=mysql

Type=forking

PIDFile=/var/run/mysqld/mysqld.pid

# Disable service start and stop timeout logic of systemd for mysqld service.
TimeoutSec=0

# Execute pre and post scripts as root
PermissionsStartOnly=true

# Needed to create system tables
ExecStartPre=/usr/bin/mysql-systemd start-pre

# Start main service
ExecStart=/usr/sbin/mysqld --daemonize --pid-file=/var/run/mysqld/mysqld.pid $MYSQLD_OPTS
ExecStop=/usr/bin/mysql-systemd stop

ExecStopPost=/usr/bin/mysql-systemd stop-post

ExecReload=/usr/bin/mysql-systemd reload

# Use this to switch malloc implementation
EnvironmentFile=-/etc/sysconfig/mysql

# Sets open_files_limit
LimitNOFILE = 5000

Restart=on-failure

RestartPreventExitStatus=1

PrivateTmp=false

