[mysqld.1]
wsrep_provider_options='cert.optimistic_pa=yes;base_port=@mysqld.1.#galera_port;@ENV.WSREP_PROVIDER_TIMEOUTS'

[mysqld.2]
wsrep_provider_options='cert.optimistic_pa=yes;base_port=@mysqld.2.#galera_port;@ENV.WSREP_PROVIDER_TIMEOUTS'

[mysqld.1]
#!run-suite-setup-sh

[mysqld.2]
#!run-suite-setup-sh

