!include ../my.cnf

[mysqld.1]
group_replication_gtid_assignment_block_size=1

[mysqld.2]
group_replication_gtid_assignment_block_size=1

[mysqld.3]
group_replication_gtid_assignment_block_size=1

[mysqld.4]
group_replication_gtid_assignment_block_size=1


[ENV]
SERVER_MYPORT_1=                @mysqld.1.port
SERVER_MYSOCK_1=                @mysqld.1.socket

[ENV]
SERVER_MYPORT_2=                @mysqld.2.port
SERVER_MYSOCK_2=                @mysqld.2.socket

[ENV]
SERVER_MYPORT_3=                @mysqld.3.port
SERVER_MYSOCK_3=                @mysqld.3.socket

[ENV]
SERVER_MYPORT_4=                @mysqld.4.port
SERVER_MYSOCK_4=                @mysqld.4.socket
