# Use default setting for mysqld processes
!include include/default_mysqld.cnf

[mysqld.1]
binlog-format=row
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=2

# wsrep variables
wsrep_provider=@ENV.WSREP_PROVIDER
wsrep_provider_options='base_port=@mysqld.1.#galera_port;gcache.size=10M'
wsrep_cluster_address='gcomm://'
wsrep_node_address=127.0.0.1
wsrep_node_name=node1

[ENV]
GALERA_BASE_PORT=@mysqld.1.#galera_port

